{% extends 'base.html' %}
{% load static %}
{% block extra_meta %}
	<meta name="description" 
	content="A page where users can slecta playlist to add a song to." />
{% endblock %}
{% block content %}
<!-- Content section-->

<div class="container-fluid music-player-container">
	<h1 class="text-center mt-3 trickle-heading">Add Song</h1>
	<div class="row">
		<div class="col-8 p-3 p-md-5 offset-2 col-md-4 offset-md-2 mt-5 bg-custom p-2">
			<div class="row">
				<div class="col-6 col-md-3 col-md-6">
					<a href="play_song/{{song.id}}">
						<img class="img-thumbnail" src="{{song.image.url}}" alt="">
					</a>
				</div>
			</div>
		</div>
		<div class="col-8 p-3 offset-2 offset-md-0 mt-0 col-md-4 mt-md-5 bg-custom p-md-5">
			<p class="justify-content-center text-white">You have chosen to add <strong>{{song.title}}</strong> by
				<strong>{{song.artist}}</strong> to a playlist. Please select a playlist from the dropdown menu below.
			</p>
		</div>
	</div>

	<form method="POST" action="/add_song_to_playlist/{{song.id}}/" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="col-6 offset-3 col-md-4 offset-md-4 ">
			<div class="text-center text-white mt-5">Select Playlist</div>
			<div class="row">
				<div class="col-12 text-center my-4">{{form.playlist}}</div>
				
			</div>
		</div>

		<div class="row">
			<button id="form-submit-btn" class="btn upload-btn my-3 col-4 offset-4 mb-5" type="submit">Save</button>
		</div>
	</form>
</div>


{% endblock %}

