{% extends 'base.html' %}
{% load static %}

{% block content %}
 
<!-- Content section-->
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<form method="POST" action="" enctype="multipart/form-data">
  {% csrf_token %}
  

  <div class="col-4 offset-4">
    <div>{{form.title.label_tag}}</div>
    <div class="row">
      {{form.title}}
    </div>
  </div>
  <div class="col-4 offset-4">
    <div>{{form.artist.label_tag}}</div>
    <div class="row">
      {{form.artist}}
    </div>
  </div>

  <div class="col-4 offset-4">
    <div>{{form.audio_link.label_tag}}</div>
    <div class="row">
      {{form.audio_link}}
    </div>
  </div>

  <div class="col-4 offset-4 audi-file-input">
    <div>{{form.audio_file.label_tag}}</div>
    <div class="row">
      {{form.audio_file}}
    </div>
  </div>
  <div class="col-4 offset-4">
    <div>{{form.image.label_tag}}</div>
    <div class="row">
      {{form.image}}
    </div>
  </div>
  

  
  
  <div class="row">
    <button id="form-submit-btn" class="btn upload-btn my-3 col-4 offset-4" type="submit" >Upload</button>
  </div>
</form>



<!-- Footer-->
<footer class="py-5 bg-dark fixed-bottom">
    <div ><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>

{% endblock %}

