{% extends 'base.html' %}
{% load static %}

{% block content %}
 <!-- Content section-->
 {% for message in messages %}
 <div class="alert alert-success alert-dismissible fade show" role="alert">
 	<strong>{{message}}</strong>
 	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
 </div>
 {% endfor %}

 <div class="col-12 song-container bg-dark">
 	<form method="POST" action="" enctype="multipart/form-data">
 		{% csrf_token %}

 		<h1>Add Playlist</h1>
 		<div class="col-4 offset-4">
 			<div>{{form.playlist.label_tag}}</div>
 			<div class="row">
 				{{form.playlist_name}}
 				{{form.user}}
 			</div>
 		</div>

 		<div class="row">
 			<button id="form-submit-btn" class="btn upload-btn my-3 col-4 offset-4" type="submit">Save</button>
 		</div>
 	</form>

 	{% endblock %}
