{% extends 'base.html' %}
{% load static %}
{% block extra_meta %}
    <meta name="description" 
    content="A page where users can create music playlists." />
{% endblock %}
{% block content %}
 <!-- Content section-->
<div class="col-12 song-container bg-dark music-player-container">
	<h1 class="text-center mt-3 trickle-heading">Add Playlist</h1>
	<form method="POST" action="" enctype="multipart/form-data">
		{% csrf_token %}

		
		<div class="col-4 offset-4">
			<div>{{form.playlist.label_tag}}</div>
			<div class="row">
				{{form.playlist_name}}
				{{form.user}}
			</div>
		</div>

		<div class="row">
			<button id="form-submit-btn" class="btn upload-btn my-3 col-4 offset-4" type="submit">Save</button>
		</div>
	</form>
</div>

 	{% endblock %}
