{% extends 'base.html' %}
{% load static %}
{% block extra_meta %}
    <meta name="description" 
    content="A page where users can access music stored in their playlists." />
{% endblock %}
{% block content %}

<section class="music-player-container">
	
	{% for playlist_song in playlist_songs%}
	{% if forloop.first %}
		<h1 class="trickle-font text-center m-3 fs-4">{{playlist_song.playlist| upper}} Playlist</h1>
	{% endif %}
	{% endfor%}

	<div class="col-4 offset-4 mt-5 mb-5">
		<div class="row">
			<div class="row">
				<a href="/index" class="btn upload-btn"><i class="fas fa-plus"></i> Add Songs</a>
			</div>
		</div>
	</div>
	{% for playlist_song in playlist_songs%}
	{% if forloop.first %}
		<h1 class="trickle-font text-center">You are viewing {{playlist_song.playlist}} playlist.</h1>
	{% endif %}
	{% endfor%}

	{% for playlist_song in playlist_songs %}

		<div class="row bg-custom my-5">
			<div class="offset-3 col-8  m-2  p-2 ">
				<div class="row m-3">
					<div class="col-6 ">
						<a href="/play_song/{{playlist_song.id}}">
							<img class="img-thumbnail" src="{{playlist_song.image.url}}" alt="">
						</a>
					</div>
					<div class="col-6">
						<div>
							<h5 class="text-white h-35 mt-2">{{playlist_song.title}}</h5>
						</div>
						<div>
							<h6 class="text-white h-35 mb-4">By: {{playlist_song.artist}}</h6>
						</div>
						<div><a href="add_song_to_playlist/{{song.id}}" class="btn btn-warning btn-sm btn-position"><i
									class="fas fa-plus"></i><strong></i>
									to Playlist</a></strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% empty %}

	<div class="container">
		<div class="row">
			<div class="col-10 offset-1 col-md-4 offset-md-4 my-5 bg-custom p-5">
				<p class="justify-content-center text-white">There are currently no songs in your playlist. Click to
					'Add songs' button to add music.</p>
			</div>
		</div>
	</div>

	{% endfor %}
</section>

{% endblock %}