{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% for playlist in playlists %}

        <div class="col-12 song-container bg-dark">
        <div class="row">
            <div class="col-1 blank-space">
            <div class="row">
            </div>
            </div>
            
            <div class="col-4 col-lg-2 song-image ms-5 mt-5 mb-5">
            <div class="row">
            <a href="/playlist_songs/{{playlist.id}}">
                <h1>{{ playlist.playlist_name }}</h1>
            </a>
                
                
            </div>
            </div>

            <div class="col-4 col-lg-2 song-info mt-5 text-center pt-4">
            <div class="row">
                <h4>Track: {{song.title}}</h4>
            </div>
            <div class="row">
                <h6>Performed By: {{song.artist}}</h6>
            </div>
            
            </div>
            <div class="col-4 col-lg-8 blank-space">
            <div class="row">
            </div>
            </div>
        </div>
        </div>
        <hr>
    {% endfor %}

{% endblock %}