{% extends 'base.html' %}
{% load static %}
{% block extra_meta %}
    <meta name="description" 
    content="A page where users can listen to music." />
{% endblock %}

{% block content %}
 
<!-- Content section-->
<section class=" music-player-container">
	<div class="music-player my-5">
		<div class="cover" id="music-cover">
			<img alt="" src="{{song.image.url}}" />
		</div>
		<div class="title">
			<h3>
				{{song.artist}}
			</h3>
			<h1>
				{{song.title}}
			</h1>
		</div>

		<div class="player col-12">
			<div class="row">
				<div class="col-2 p-4">
					<div class="row">
						<a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}"><i
								class="fa fa-step-backward fa-2x"></i>
						</a>
					</div>
				</div>

				<div class="col-8 p-0 iframe-container">
					<div class="row">
						<audio class="fc-media" style="width: 100%;">
							<source
								src="{% if song.audio_file %}{{song.audio_file.url}} {% else %} {{song.audio_link}} {% endif %}"
								type="audio/mp3" />
						</audio>
					</div>
				</div>

				<div class="col-2 p-3 pt-4">
					<div class="row">
						<a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }} {% endif %}"><i
								class="fa fa-step-forward fa-2x"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}

