{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="music-player-container-repeat row">
    <div class="col-4 offset-4 mt-5 mb-5 ">
            <div class="row">
                <a href="/add_playlist" class="btn upload-btn text-center"><i class="fas fa-plus"></i>Add Playlist</a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        {% for playlist in playlists %}
            <div class="row bg-custom m-4 ">
                <div class="text-center ">
                    <a class="text-center text-decoration-none" href="/playlist_songs/{{playlist.id}}">
                        <h1 class="text-start ps-3 pt-2 text-white">{{ playlist.playlist_name }}</h1>
                    </a>
                </div>
                <div class=" text-center col-md-2 offset-md-10 text-md-end">
                    <a href="/edit_playlist/{{playlist.id}}" class="btn btn-warning mt-3"><i
                            class="fas fa-edit"></i>Edit</a>
                </div>
                <div class=" text-center col-md-2 offset-md-10 pb-3 text-md-end">
                    <a href="/delete_playlist/{{playlist.id}}" class="btn btn-danger mt-3 text-right"><i
                            class="fas fa-trash-alt"></i>DEL</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
</section>

{% endblock %}