{% extends 'base.html' %}
{% load static %}
{% block extra_meta %}
    <meta name="description" 
    content="A page where a user can view their membership information such as membership expiration date" />
{% endblock %}
{% block content %}

<section class="music-player-container">
    <div class="container ">
        <div class="row">
            <div class="col-10 offset-1 col-md-4 offset-md-4 my-5 bg-custom p-5 text-white">
                <h5 class="card-title ">Username: {{ user.username }}</h5>
                <p>Signed up: {{ user.date_joined }}</p>
                <p>Subscribed: {{ profile.subscription_date }}</p>
                <p>Subscription Expirey: {{ profile.subscription_expiration_date }}</p>

            </div>
        </div>
    </div>
</section>

{% endblock %}






