{% extends 'base.html' %}
{% load static %}


{% block heading %}

    <h1 class="d-flex justify-content-center pt-5">Profile</h1>

{% endblock %}
{% block content %}

    <div class="col-4 offset-4 mt-5">
        <div class="row">
            <div class="card text-center mb-5">
                <div class="card-body">
                    <h5 class="card-title text-success">Username: {{ user.username }}</h5>
                    <p>Signed up: {{ user.date_joined }}</p>
                    <p>Subscribed: {{ profile.subscription_date }}</p>
                    <p>Subscription Expirey: {{ profile.subscription_expiration_date }}</p>
                    <a href="{% url 'home' %}" class="btn btn-primary">Access Music</a>
                </div>
            </div>
        </div>
    </div>

        <!-- Footer-->
    <footer class="py-5 bg-dark fixed-bottom">
        <div ><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
    </footer>
{% endblock %}




