{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="music-player-container">
    <div class="row">
            {% for option in membership_options %}
            <div class="col-1"></div>
            <div class="col-4 mt-5">
                <div class="row">
                    <div class="card text-center">
                        <div class="card-body">
                          <h5 class="card-title">{{option.name}}</h5>
                          <p class="card-text">{{option.description}}.</p>
                          <a href="{% url 'checkout' %}" class="btn btn-primary">Check Out</a>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-1"></div>
            {% endfor %}        
    </div>
</div>
{% endblock %}