{% extends 'base.html' %}
{% load static %}
{% block extra_meta %}
    <meta name="description" 
    content="Checkout success page that advises user of successful checkout." />
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <!-- Content section-->
   
    <div class="music-player-container">
        <h1 class="text-center mt-3 trickle-heading">Checkout Success</h1>

        {% for item in order.lineitems.all  %}
        <div class="col-8 offset-2 col-md-6 offset-md-3 mt-5">
            <div class="row">
                <div class="card text-center mb-5">
                    <div class="card-body">
                        <h5 class="card-title text-success">Success!</h5>
                        <h5 class="card-title text-success">You have purchased {{item.membership_options.name}}</h5>
                        <p class="card-text text-success">This gives you{{item.membership_options.description}}.</p>
                        <p class="card-text text-success">You have been charged €{{item.membership_options.price}}.</p>
                        <a href="{% url 'home' %}" class="btn btn-primary">Access Music</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>



{% endblock %}