{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="music-player-container ">
  <div class="row justify-content-center trickle-font">
    <div class="text-center text-white py-5">
      <h1>{% trans "Sign Up" %}</h1>

      <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
      
      <form class="signup col-4 offset-4 py-4" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form | crispy}}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="upload-btn mt-5">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>



{% endblock %}
